/* Result.css */

.item-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.list-group-flush {
    padding: 0;
}

.try-again-button {
    margin-top: 20px;
    width: 100%;
}


.try-again-button {
    margin: 20px auto;
}

