.item-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.list-group-flush {
    margin-bottom: 20px;
}

a {
    text-align: center;
    display: block;
    margin: 20px auto;
}

.try-again-button {
    display: block;
    margin: 20px auto;
}

table {
    margin: 0 auto; 
    border: 2px solid #ccc; 
    border-radius: 5px;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #ccc; 
    padding: 10px; 
}
