.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px !important;
  }
  
  .title {
    font-size: 3.5em;
    font-weight: bold;
    color: #212529;
    text-align: left;
    font-family: "DM Serif Display", serif;
    margin-bottom: 20px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
  }


  .btn {
    background-color: #2196F3;
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 1.2em;
    transition: 0.2s ease all;
    border: none;
  }
  
  .btn:hover {
    background-color: #1E88E5;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .home {
      margin-top: 50px !important;
    }
    .title {
      font-size: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .col-sm {
      margin-left: 20px;
    }
  }
  
  